<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title id ="title">EXPENDA</title>
		<link rel = "stylesheet" type = "text/css" href = "stylesheets/main.css">
	</head>
	<body >
		<div id="navi" class="container" role="navigation" style="display: inline-block;">
			<ul>
			  <li><a href="users/reg">Register</a></li>
			  <li><a href="/" class="active">Login</a></li>
			  <li style="float:left;text-align:center;"><img  class="logo" src="/images/logo.png"/> </li>

			</ul>
		</div>
		<div id="login" class="container" >
			<h1>登入EX-PENDA</h1>
			<form id="form" >
				帳號：<input type="text" name="account"><br>
				密碼：<input type="password" name="password"><br>
				<input id="bt_log" type="button" value="登入"> </input>
			</form>
			
		</div>
    </body>
</html>

