<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title id ="title"><%= title %></title>
		<link rel="stylesheet" href="stylesheets/main.css">
	</head>
	<body >
		<div id="navi" class="container" role="navigation" style="display: inline-block;">
			<ul>
			  <li><a href="users/reg">Register</a></li>
			  <li><a href="/" class="active">Login</a></li>

			  <li style="float:left;text-align:center;"><img  class="logo" src="/images/logo.png"/> </li>
	
			</ul>
		</div>
		<div id="login" class="container" >
			<h1>登入EX-PANDA</h1>
			<form id="form" action="/apis/login" method="POST">
				帳號：<input type="text" name="account"><br>
				密碼：<input type="password" name="password"><br>
			<input id="bt_log" type="submit" value="登入"> </input>
				
			</form>
		</div>
    </body>
</html>

