<h3>Add_article_test</h3>
<form id="add" action="/apis/add_article" method="POST">
	<h1>add</h1>
	<textarea name="article" rows="4" cols="50"></textarea>
	<input id="ttadd" type="submit"></input>
</form>