<!DOCTYPE html>
<html>
<body>
<form action="/apis/reg" method="POST">
  First name:<br>
  <input type="text" name="username" value="Mickey">
  <br>
  Last name:<br>
  <input type="text" name="passwd" value="Mouse">
  <br><br>
  <input type="submit" value="Submit">
</form> 
</body>
</html>
