<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title id ="title">EXPENDA</title>
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/reg.css">
	</head>
	<body >
		<div id="navi" class="container" role="navigation" style="display: inline-block;">
			<ul>
			  <li><a href="reg"class="active">Register</a></li>
			  <li><a href="/" >Login</a></li>
			  <li style="float:left;text-align:center;"><img  class="logo" src="/images/logo.png"/> </li>
			</ul>
		</div>
		<div id="login" class="container" >
			<h1>註冊EX-PENDA會員</h1>
			<form id="acc">
				帳號：<input type="text" name="account">
			</form>
			<form id="pw">
				密碼：<input type="password" name="password">
			</form >
			<form id="pw">
				姓名：<input type="text" name="name">
			</form >					
			<input id="bt_accept" type="button" value="確認"> </input>
		</div>
    </body>
  </nav>
</html>

