<head>
		<meta charset = "utf-8">
		<title id ="title">EXPENDA</title>
		<link rel = "stylesheet" type = "text/css" href = "/stylesheets/users.css">
</head>
<body>
	<div id="sitebody" class="container">
		<div id="header"role="navigation" style="display: inline-block;">
			<ul>
				<li style="text-align:center;"><img  class="logo" src="/images/logo.png"> </li>
			  	<li><a href="/" class="active">Home</a></li>
			  	<li><a href="/users/notification">Notification</a></li>
			  	<li style="float:right;"><a href="/users/logout">Logout</a></li>
			</ul>
		</div>
		<div style="clear:both;"></div>
		<br>
		<br>
		<br>
	　	<div id="sidebar_left" style="float:left;width:100px;">
			<a  href="/users/add_test">Post</a>
			<a  href="/users/friend_list">Friend_List</a>
		</div>
		<div id ="content" style="float:left;">
			<% console.log(arts)%>
			<% for(var i in arts){ console.log(i) %>
			<div class ="article_author"><%= arts[i].username%><br></div>
			<div class ="article"><%= arts[i].Context%></div><br>
			<% console.log("end")} %>
		</div>
		<div id="clear2"></div>
		<form action="/apis/add_friend/<%= id %>" method="POST">
		<input type="submit" value="Add friend">
		</form>
	
		
	</div>
</body>

