<h3>Update_article</h3>
<form id="add" action="/apis/update_article/<%= arts[0]._id%>" method="POST">
	<h1>Update</h1>
	<textarea name="article" rows="4" cols="50"><%=arts[0].Context%></textarea>
	<input id="ttadd" type="submit"></input>
</form>