<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title id ="title">EXPENDA</title>
		<link rel = "stylesheet" type = "text/css" href = "stylesheets/users.css">
	</head>
	<body >
		<div id="navi" class="container" role="navigation" style="display: inline-block;">
			<ul>
			  <li><a href="users/userspage">Home</a></li>
			  <li><a href="users/notification" class="active">Notification</a></li>
			  <li style="text-align:center;"><img  class="logo" src="/images/logo.png"/> </li>
			</ul>
		</div>
    </body>
</html>

