<!DOCTYPE html>
<html>
	<head>
		<meta charset = "utf-8">
		<title id ="title">EXPENDA</title>
		<link rel = "stylesheet" type = "text/css" href = "stylesheets/users.css">
	</head>
	<frameset rows="60px,*">
		<frame src="users/aaa"  name=userbar>
		<frame src="users/showart"   name=f2>
	</frameset>
</html>

